<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>

<list [items]="items" (itemSelectedChanged)=showElementChanged($event)></list>

<input [(ngModel)]="value" />

<div (click)="showValue()" class="stupidClass">Mostra valore</div>

<div *ngIf="currentCharacter">
    <br> Personaggio corrente
    <br>
    <div>type: {{ currentCharacter.type }}</div>
    <div>name: {{ currentCharacter.name }}</div>
    <div>age: {{ currentCharacter.age }}</div>

</div>